@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url("mainbgp.jpg");
  background-size: cover;
}

body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input label {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.input select {
  border: none;
  border-radius: 8px;
  min-width: 300px;
  font-size: 16px;
  padding: 8px 4px;
  background-color: #ff6e19;
  color: #fff;
}

.input select:focus {
  outline: none;
}


button {
  padding: 20px 10px;
  border-radius: 8px;
  background-color: #ff6e19;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

button:hover {
  background-color: #f1f1f1;
  color: #ff6e19;
}

.button-inactive {
  pointer-events: none;
  background-color: #969696;
}
